spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: product-service
          uri: lb://product-service
          predicates:
            - Path=/products/**
          filters:
            - JwtAuthenticationFilter
            
        - id: auth-api-service
          uri: lb://auth-service
          predicates:
            - Path=/api/**
          
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/register, /login, /change-password, /logout, /refresh-token, /init/**
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin

server:
  port: 8080

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true

jwt:
  secret: mySecretKeyForJWTTokenGenerationAndValidation12345678901234567890

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway